{% extends 'main.html' %}


{% block title %}
    Herci | {{ block.super }}
{% endblock %}

{% block content %}
<h1>Herci</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-2">
    {% for actor in actors %}
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="{% if actor.photo_url %}{{actor.photo_url}}{% else %}https://place-hold.it/180x100/{% endif %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ actor.name }}</h5>
                <p class="card-text ">{{ actor.description|truncatewords_html:10|safe }}</p>
            </div>
            <div class="card-footer text-end">
                <a href="{% url 'actor' actor.id %}" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
        
    {% endfor %}
</div>
{% endblock content %}