{% extends 'main.html' %}

{% block title %}
    Režiséři | {{ block.super }}
{% endblock %}

{% block content %}
<h1>Režiséři</h1>

{# Tady bude seznam režisérů #}
<div class="row row-cols-2">
    {% for d in directors %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ d.name }}{% if d.birth_year %}
            &ndash; {{ d.birth_year }}
            {% endif %}</h5>
            <a href="{% url 'director' d.id %}" class="btn btn-primary">Detail</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

