{% extends 'main.html' %}


{% block title %}
    Filmy | {{ block.super }}
{% endblock %}

{% block content %}
<h1>Filmy</h1>

<div class="row">
    <form method="get" action="./">
    <div class="input-group mb-3">
        <input type="text" name="search" value="{{ search|default:"" }}" class="form-control" placeholder="..." aria-label="Hledat" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Hledat</button>
    </div>
    </form>
</div>

<div class="row">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="btn {% if not genre %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="./">All</a>
        </li>
        {% for g in genres %}
        <li class="list-inline-item">
            <a class="btn {% if g.name == genre %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="./?genre={{ g.name }}">{{ g.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="row row-cols-1  row-cols-md-2 row-cols-lg-3 g-2">
    {% for movie in movies %}
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="{% if movie.image_url %}{{movie.image_url}}{% else %}https://place-hold.it/180x100/{% endif %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ movie.name }}</h5>
                {% for genre in movie.genres.all %}
                    <span class="badge rounded-pill text-bg-primary">{{genre.name}}</span>
                {% endfor %}
                <p class="card-text ">{{ movie.description|truncatewords_html:"20" }}</p>
            </div>
            <div class="card-footer text-end">
                <a href="{% url 'movie' movie.id %}" class="btn btn-primary">Detaily</a>
            </div>
        </div>
    </div>
        
    {% endfor %}
</div>
{% endblock content %}